/*
Theme Name: Theme
Theme URI: http://www.client.com
Description: Custom theme handcrafted with love by Vario Creative
Version: 1.0
Author: Vario Creative, Inc.
Author URI: http://www.variocreative.com
*/
.container-fluid {
  margin: 0 auto;
  max-width: 960px; }

article {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 0px 10px; }

/* ********************** */
/* HELPERS */
/* ********************** */
.center {
  text-align: center; }

/* ********************** */
/* NAV MENU */
/* ********************** */
#mainmenu li {
  display: inline-block;
  padding: 10px 20px; }

.nav-collapse {
  height: auto; }

/* Mobile Navbar */
.navbar {
  margin-bottom: 5px; }

#nav {
  list-style: none; }
  #nav li > a:hover {
    text-decoration: none; }

/* ********************** */
/* BLOG */
/* ********************** */
.postcontent {
  padding-bottom: 10px; }

/* ********************** */
/* COMMENTS */
/* ********************** */
#comment {
  width: 50%; }

.commentlist {
  list-style: none; }
  .commentlist li {
    padding: 10px 0; }

/* ********************** */
/* SCROLL */
/* ********************** */
#scrollUp {
  bottom: 20px;
  right: 20px;
  height: 38px;
  /* Height of image */
  width: 38px;
  /* Width of image */
  background: url("./images/top.png") no-repeat; }

/* ********************** */
/* FOOTER */
/* ********************** */
footer {
  height: 200px; }

.footer-copyright {
  text-align: center; }
  .footer-copyright a {
    font-size: 10px;
    color: #333333; }

.footer-social {
  text-align: center;
  padding-bottom: 10px; }
  .footer-social a {
    padding: 0px 20px;
    color: #333333; }

/* ********************** */
/* Media Queries */
/* ********************** */
/* 320px and greater */
/* 480px and greater */
/* 768px and greater */
/* 1024px and greater */
/* Retina screens */
