/*
Theme Name: Theme
Theme URI: http://www.client.com
Description: Custom theme handcrafted with love by Vario Creative
Version: 1.0
Author: Vario Creative, Inc.
Author URI: http://www.variocreative.com
*/
$bodyFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$txtColor: #333333;

.container-fluid {
    margin: 0 auto;
    max-width: 960px;
}
article {
    font-family: $bodyFontFamily;
    font-size: 16px;
    padding: 0px 10px;
}

/* ********************** */
/* HELPERS */
/* ********************** */
.center {
    text-align: center;
}
/* ********************** */
/* NAV MENU */
/* ********************** */
#mainmenu li {
    display: inline-block;
    padding: 10px 20px;
}
.nav-collapse {
    height: auto;
}
/* Mobile Navbar */
.navbar {
    margin-bottom: 5px;
}
#nav {
    list-style: none;
    li > a:hover {
        text-decoration: none;
    }
}
/* ********************** */
/* BLOG */
/* ********************** */
.postcontent {
  padding-bottom: 10px;
}
/* ********************** */
/* COMMENTS */
/* ********************** */
#comment {
    width: 50%;
}
.commentlist {
    list-style: none;    
    li {
	   padding: 10px 0;
    }
}
/* ********************** */
/* SCROLL */
/* ********************** */
#scrollUp {
  bottom: 20px;
  right: 20px;
  height: 38px;  /* Height of image */
  width: 38px; /* Width of image */
  background: url('./images/top.png') no-repeat;
}
/* ********************** */
/* FOOTER */
/* ********************** */
footer {
    height: 200px;
}
.footer-copyright {
	text-align: center;
	a {
		font-size: 10px;
		color: $txtColor;	
	}
}
.footer-social {
	text-align: center;
	padding-bottom: 10px;
	a {
		padding: 0px 20px;
		color: $txtColor;
	}
}
/* ********************** */
/* Media Queries */
/* ********************** */

/* 320px and greater */
@media only screen and (min-width: 320px) {

}

/* 480px and greater */
@media only screen and (min-width: 480px) {

}

/* 768px and greater */
@media only screen and (min-width: 768px) {

}

/* 1024px and greater */
@media only screen and (min-width: 1024px) {

}

/* Retina screens */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {

}